body {
	/*background-image: url("../img/sutblebg.png");*/
	background: rgb(253,253,253);
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}
.headertext {
	text-align: center;
	margin-top: 40px;
	text-shadow: 0 1px 1px white;
}
h3, h2, .headertext {
	margin: 0;
	text-align: left;
	font-size: 130%;
}
h3 {
	font-weight: 300;
}
h2, .headertext {
	font-size: 200%;
}
.selectbox option {
	margin: 0 auto;
}
#stockform {
	margin: 0 auto;
	text-align: center;
}
.chosen-container-multi .chosen-choices li.search-choice {
	background: white;
}
.google_map {
	left: 0;
	right: 0;
	top: 0;
	bottom: 300px;
	position: absolute;
}

.infobox {
	top: 0;
	left: 0;
	position: absolute;
	padding: 30px;
}
.stock_container {
	height: 260px;
}

.stock_holder {
	height: 300px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
.gm-style img {
	min-width: 59px; !important
}
