<h2 class="headertext"><a name="multiple-select" class="anchor" href="#multiple-select">RDFquery Stock Annotations</a></h2>
<h3>Mitchell Kates and Jonathan Raiman</h3>
    <div class="side-by-side clearfix selectbox">
        <div>
          <form id="stockform">
			  <select id="stockselect" data-placeholder="Choose some stocks..." class="chosen-select" multiple style="width:350px;" tabindex="4">
				<option value=""></option>
				<option value="Microsoft">Microsoft</option>
				<option value="Zimbabwe">Zimbabwe</option>
			  </select>
			</form>
        </div>
      </div>