<h2 class="headertext"><a name="multiple-select" class="anchor">RDFquery Stock Annotations</a></h2>
<h3>Mitchell Kates and Jonathan Raiman</h3>
<div class="side-by-side clearfix selectbox">
	<div>
	  <form id="stockform">
		  <select id="stockselect" data-placeholder="Choose some stocks..." class="chosen-select" multiple style="width:350px;" tabindex="4">
			<option value=""></option>
			<option value="GE">GE</option>
			<option value="ORCL">ORCL</option>
			<option value="IBN">IBN</option>
			<option value="SODA">SODA</option>
			<option value="CTSH">CTSH</option>
			<option value="PLX">PLX</option>
		  </select>
		</form>
	</div>
</div>


<div id="container" style="width:90%; margin:50px auto; height:400px;"></div>
