<h2 class="headertext"><a name="multiple-select" class="anchor">RDFquery Stock Annotations</a></h2>
<h3>Mitchell Kates and Jonathan Raiman</h3>
<div class="side-by-side clearfix selectbox">
	<div>
	  <form id="stockform">
		  <select id="stockselect" data-placeholder="Choose some stocks..." class="chosen-select" multiple style="width:350px;" tabindex="4">
			<option value=""></option>
			<option value="GE">General Electric</option>
			<option value="ORCL">Oracle Corporation</option>
			<option value="SODA">SodaStream International</option>
			<option value="CTSH">Cognizant Technology</option>
			<option value="PLX">Protalix BioThera</option>
			<option value="IBM">International Business Machine</option>
			<option value="HPQ">Hewlett Packard</option>
			<option value="INTC">Intel Corporation</option>
			<option value="AAPLE">Apple Inc.</option>
			<option value="MSFT">Microsoft Corporation</option>
			<option value="INFY">Infosys Limited</option>
			<option value="CGEN">Compugen Ltd.</option>
			<option value="QCOM">Qualcomm</option>
			<option value="WIT">Wiproo Limited</option>
			<option value="SNDK">SanDisk</option>
			<option value="CSTE">CaesarStone</option>
		  </select>
		</form>
	</div>
</div>


<div id="container" style="width:90%; margin:50px auto; height:400px;"></div>

<div id="map-canvas"></div>
